.noticeList{
    width: 980px;
    margin: auto;
    padding: 50px 20px 0px 20px;

}
.noticeItem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    width: 100;
    
}

.noticeItem:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.itemNo, .itemTitle, .itemWrtnDate{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.itemNo{
    width: 5%;
}

.itemTitle{
    width: 80%;
    padding-left: 20px;
}

.itemWrtnDate{
    width: 15%;
    justify-content: right;
}

h1{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

.noticeTotal{
    padding: 20px;
}

.noticeViewTitle{
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.noticeViewInfo{
    display: flex;
    justify-content: right;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;

}

.noticeViewVwCnt{
    padding-right:  20px;
}


.noticeViewContent {
    margin-top: 20px;
    margin-bottom: 50px;
}


.nonPrevNotice{
    font-size: 18px;
    padding-top: 10px;
} 

.prevNotice{
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
} 
.nextNotice {
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.nonNextNotice {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.allList{
    margin-bottom: 300px;
}