.login-container {
    width: 100%;
    max-width: 400px;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.login-container form {
    width: 300px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    width: 100%; 
    padding: 10px;
    margin-top: 10px; 
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center; 
}
