/* 전체 컨테이너 */
.form-container {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* 제목 스타일 */
.modify-title {
    text-align: center;
    margin-bottom: 20px;
}

/* 입력 필드 컨테이너 */
.userContainer, .infoContainer, .genderContainer {
    display: flex;
    flex-direction: column;

}

/* 입력 필드 스타일 */

.mun, .mui, .mup, .mub, .munn {
    width: 500px;
    height: 38px;
    margin-bottom: 10px;
}

/* 이메일 입력 필드를 한 줄에 배치 */
.email-container input {
    width: 240px;
    height: 38px;
}


/* 전화번호 입력 필드 스타일 */
.phonenum input {
    width: 160px; 
    height: 38px;
}

/* 성별 선택 버튼 */
.genderOption {
    padding: 10px 20px;
    background-color: #D3D3D3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
}

.genderOption.selected {
    background-color: #6E98B8;
}

.genderOption:hover {
    background-color: #3C627F;
}

.mbtn {
    padding: 12px;
    color: white;
    background-color: #6E98B8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.mbtn:hover {
    background-color: #3C627F;
}

/* 에러 메시지 스타일 */
.error-message {
    color: #ff0000;
    font-size: 0.85em;
    text-align: left;
}

.mun, .mui, .mup, .mub, .munn, .pn1, .pn2, .pn3, .mue1, .mue2 {
    background-color: white;
    border: 1px solid black; 
}