.totalcontainer {
    border: 1px solid black;
    width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
}

.input-field, .btn, select, input[type="file"], .login, .login4 {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 38px;
}

.phone-group, .email-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login1, .login2, .login3 {
    height: 38px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 140px;
}
.login2, .login3 {
    margin-left: 6px;
}

.email-input {
    flex-grow: 1;
    margin-right: 10px; 
}

.email-domain {
    width: 200px;
}

.login5, .login6 {
    width: 50px;
    margin-right: 10px;
    height: 23px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: #6E98B8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.btn:hover {
    background-color: #3C627F;
}

.check-button {
    padding: 10px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.status-message, .error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}

.error-message {
    color: #ff0000;
    font-size: 0.85em;
}

.status-message {
    font-size: 0.85em;
    color: green;
}

.profile-image {
    height: 76px; 
}

.p-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-return {
    text-align: center;
    width: 100%; 
}
.login4 {
    height: 50px;

}

select {
    width: 210px;
    margin-left: 10px;
}

.login5 {
    width: 210px;
    height: 38px;
}
.signup-title {
    text-align: center; 
}
.totalcontainer p {
    margin: 5px 0;
}
input[type="text"], input[type="password"], input[type="file"], select {
    background-color: white;
    border: 1px solid black; 
}



.gender-select {
    margin: 0;
    width: 210px;
}