.headerArea{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.myPageButton {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 40px;
}

.myPageButton:visited {
    color: white;
}

.loginButton {
    text-decoration: none;
    font-size: 18px;
}

.loginButton:visited {
    color: white;
}

.logoutButton {
    text-decoration: none;
    font-size: 18px;
}

.logoutButton:visited {
    color: white;
}

.loginArea{
    padding: 20px 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}

.startArea {
    padding: 20px 20px;
    background-color: #6E98B8;
}

.startArea:hover {
    background-color: #3C627F;
}

.mainStartButton {
    text-decoration: none;
    font-size: 35px;
    color: white;
}

.mainStartButton:visited {
    color: white;
}

.mainImage{
    width: 180px;
    padding: 10px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
}

li {
    text-decoration: none;
}

.navMenu {
    list-style-type: none;
    display: flex;
}

.navMenu li {
    padding: 8px 80px;
}

.navLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navLink:hover {
    color: #D0F0F5;

}
